*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.nav1{
    height: 60px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
}

.sp1{
    visibility: hidden;
}

.sp2{
    visibility: hidden;
}

.logo1{
    height: 60px;
    flex-basis: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.line0{
    height: 60px;
    flex-basis: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line1{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 980px;
}

.line1 ul li{
    display: inline-block;
    margin-left: 10px;
    font-size: 17px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.line1 ul li:hover{
    color: rgb(209, 209, 209);
}

.icons1{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 150px;
}

.icons1 span{
    cursor: pointer;
}

.icons1 span:hover{
    color: rgb(209, 209, 209);
}

.logo1 h1{
    font-size: 35px
}

.logo1 a{
    text-decoration: none;
    color: black;
}



.background1{
    height: 700px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Images/06.jpg);
    background-size: cover;
    background-position: center;
}



.background2{
    height: 400px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 1600px;
}

.box1{
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 270px;
}

.circle1{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
}

.circ1{
    height: 100px;
    flex-basis: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
}

.circ1 span{
    font-size: 50px;
    color: white;
}

.text1{
    height: 50px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.text-mini1{
    height: 90px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: gray;
}

h3{
    font-size: 15px;
}



.background3{
    height: 500px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 236, 236);
}

.container2{
    height: 350px;
    flex-basis: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.text2{
    height: 350px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 800px;
}

.italic1{
    font-style: italic;
    font-size: 22px;
    display: flex;
    align-items: center;
    flex-basis: 100%;
}

.text-mini2{
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    flex-basis: 100%;
    font-family: 'Poppins', sans-serif;
}

.text-mini3{
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-basis: 100%;
    color: gray;   
    font-family: 'Poppins', sans-serif;
}

.decor1{
    height: 400px;
    position: relative;
    flex-basis: 600px;
}

.button1{
    height: 50px;
    flex-basis: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: black;
}

.button1 p{
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.button1 p:hover{
    color: rgb(209, 209, 209);
}

.laptop{
    height: 300px;
    width: 400px;
    position: absolute;
    left: 50px;
    background-image: url(../Images/01.png);
    background-size: 100% 100%;
    z-index: 1;
}

.color{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 200px;
    background-image: url(../Images/02.png);
    background-size: 100% 100%;
    z-index: 0;
}



.background4{
    height: 400px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3{
    height: 400px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2{
    position: relative;
    height: 400px;
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Images/01.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.text-box{
    flex-basis: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.p1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    color: white;
    font-size: 20px;
    font-style: italic;
}

.p2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    color: white;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
}


.box3{
    position: relative;
    height: 400px;
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Images/02.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.box-opa:hover{
    opacity: 0;
}

.box4{
    position: relative;
    height: 400px;
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Images/03.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.box5{
    position: relative;
    height: 400px;
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Images/04.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.box6{
    position: relative;
    height: 400px;
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Images/05.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.box-opa{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}



.background5{
    height: 400px;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container4{
    height: 350px;
    flex-basis: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-box1{
    height: 180px;
    flex-basis: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text-line1{
    width: 100%;
    font-style: italic;
    font-size: 20px;
}

.text-line2{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.text-line3{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: gray;
    font-size: 16px;
}




.background6{
    height: 500px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 236, 236);
}

.container5{
    height: 500px;
    flex-basis: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-box2{
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 800px;
}

.box10{
    height: 400px;
    flex-basis: 600px;
    position: relative;
}

.laptop1{
    height: 300px;
    width: 400px;
    position: absolute;
    left: 200px;
    background-image: url(../Images/01.png);
    background-size: 100% 100%;
    z-index: 1;
}

.decor2{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 0;
    background-image: url(../Images/03.png);
    background-size: 100% 100%;
    z-index: 0;
}



.background7{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer0{
    height: 50px;
    flex-basis: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid 1px rgb(206, 205, 205);
}

.footer1 span{
    color: gray;
    font-size: 18px;
}

.ul1 li{
    display: inline-block;
    color: gray;
    font-size: 25px;
    margin-left: 10px;
}

.ul1 i{
    color: gray;
}



.menu-bar{
    position: absolute;
    top: -250;
    left: 0;
    height: 150px;
    width: 100%;
    background-color: white;
    z-index: 1;
    transition: 1.5s ease;
    display: none;
}

.lino0{
    height: 20px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lino0 a li{
    display: inline-block;
    text-decoration: none;
}

.lino0 a{
    display: inline-block;
    color: black;
    font-size: 17px;
}

.lino1{
    height: 20px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lino1 a li{
    display: inline-block;
    text-decoration: none;
}

.lino1 a{
    display: inline-block;
    color: black;
    font-size: 17px;
}

.lino0 a:hover{
    color: grey;
}

.lino1 a:hover{
    color: grey;
}

@media only screen and (max-width: 1530px){

    .nav1{
        position: relative;
        width: 100%;
        z-index: 2;
    }

    .menu-bar{
        top: -250px;
        width: 100%;
        z-index: 1;
        display: block;
    }

    .lino1{
        margin-top: 3px;
    }

    .sp1{
        visibility: visible;
        position: absolute;
        left: 95%;
        cursor: pointer;
    }

    .sp2{
        visibility: hidden;
        position: absolute;
        left: 95%;
        cursor: pointer;
    }

    .line0{
        display: none;
    }



    .background3{
        height: 1000px;    
    }

    .container2{
        height: 1000px;
    }



    .background5{
        height: 500px;
    }

    .container4{
        height: 400px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .text-box1{
        flex-basis: 600px;
    }

    .enp1{
        display: none;
    }



    .background6{
        height: 1000px;
    }

    .container5{
        height: 800px;
        flex-wrap: wrap;
    }
}



@media only screen and (max-width: 1330px){
    .text-box{
        flex-basis: 60%;
        text-align: center;
    }

    .enp1{
        display: none;
    }

    .container4{
        height: 400px;
    }
}

@media only screen and (max-width: 860px){
    .background2{
        height: 800px;
    }

    .container1{
        height: 600px;
        flex-wrap: wrap;

    }

    .italic1{
        justify-content: center;
    }

    .text-mini2{
        justify-content: center;
    }

    .text-mini3{
        text-align: center;
    }

    .text2{
        justify-content: center;
        height: 400px;
    }

    .text-box2{
        justify-content: center;
        height: 330px;
    }

    .enp1{
        display: none;
    }

    
    .container4{
        height: 400px;
    }
}


@media only screen and (max-width: 545px){
    .background2{
        height: 1200px;
    }

    .container1{
        height: 1100px;
        flex-wrap: wrap;
    }

    .enp1{
        display: none;
    }

    .container4{
        height: 400px;
    }
}
